<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <% result.forEach (element => { %>

      <li><%- element.name%></li>
      <li><%- element.email%></li>
      <li><%- element.feed%></li>
      <% }) %>
    </ul>
  </body>
</html>
